html,
body {
    height: 100%;
    font-family: "Poppins", sans-serif;
}

body {
    color: #212226;
}

section {
    background: #fff;
    overflow: hidden;
    margin-bottom: px;
}

h1 {
    font-size: 40pt;
}

h4 {
    font-size: 33pt;
}

p {
    font-size: 14px;
    font-weight: 500;
}


/*===========================
    Navigation Bar
============================*/

#menu-outer {
    height: 84px;
}

.table {
    display: table;
    margin: 0 auto;
}

#navigation-menu {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

#navigation-menu li {
    display: inline;
}

.right-space {
    margin-right: 4%;
}


/*=============================
    Banner Section
==============================*/

#banner {
    background: none;
    height: 100%;
    background-image: url("../images/part1-BG.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

#banner #back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: 700px;
}

#banner-overlay {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: fixed;
    /* Fixed Positioning Used */
    top: 0;
    left: 0;
    z-index: 75;
}

.banner-1 {
    margin-top: 25px;
    margin-left: 250px;
}

.banner-2 {
    margin-left: -60px;
    margin-top: -10%;
}

#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h1 {
    color: black;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    display: inline-block;
    text-shadow: 2px 1 px gray;
    padding-bottom: 10px;
}

#home-text p {
    color: darkblue;
    font-size: 27px;
    font-weight: 700;
    margin: 2px -70px 2px 50px;
}


/* ==============================
            Buttons
    =============================*/

.btn-general {
    border-radius: 25px;
    font-size: 12px;
    font-weight: 700;
    margin: 0 5px;
    padding: 12px 30px 12px 30px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-home {
    background-color: blue;
    border: 1px solid black;
    color: white;
}

.btn-home:hover,
.btn-home:focus {
    color: blue;
    background-color: white;
}


/*=============================
     logo Section
=============================*/

#logo {
    background: none;
    padding-top: 2px;
}

.logo-outer-1 {
    padding: 20px;
    margin-top: 10px;
}

.logo-outer-3 {
    padding: 6px;
    margin-top: 10px;
}

.logo-outer-4 {
    padding: -8px;
}

.logo-outer-5 {
    padding: 27px;
}


/*=============================
    Features Section
=============================*/


/*===
    Images Over one other
===*/

#features {
    background: none;
    padding-top: 70px;
}

.parent {
    position: relative;
}

.first {
    position: absolute;
    margin-top: 20%;
    z-index: 1;
}

.second {
    top: 0%;
    left: 0%;
    position: absolute;
    margin-left: 5%;
    z-index: 999;
}


/*====
    Images Ends 
====*/

.awesome {
    padding: 25px;
    margin-top: 25px;
}

.awesome .p {
    font-size: 11pt;
}

.awesome .feature {
    margin-top: -25px;
}

.feature h5 {
    font-size: 14pt;
}

.feature p {
    font-size: 11pt;
}

.awesome-2 {
    padding-top: 14%;
}

.awesome-2 .awesome-2-heading h4 {
    margin-left: 11%;
    font-weight: 500;
    font-size: 22pt;
    padding-bottom: 10%;
}

.awesome-2 .awesome-2-para {
    font-size: 11pt;
    margin-top: 2.5%;
    margin-left: -5%;
}

.vdivider {
    border-left: 2px solid gray;
    position: relative;
    height: 120px;
}

.feature-logo {
    padding-top: 5%;
    padding-left: 5.5%;
    padding-right: 5%;
    padding-bottom: 4%;
    margin-left: -14%;
}


/* not yet done later*/

.feature-content .awesome-3 {
    margin-left: 50%;
    padding: 15%;
}

.middle {
    margin-top: 10%;
}

.middle .img-mul-apps {
    float: left;
    margin-left: -5%;
}

.middle .mul-apps-content {
    padding-top: 12%;
    padding-left: 5%;
    margin-left: 5%;
}

.middle .mul-apps-content h4 {
    padding-bottom: 2%;
}


/*===================
    Why Choose
===================*/

#why-choose {
    margin-top: 7%;
    padding: 3%;
}

#why-choose .heading-why-choose {
    padding-bottom: 2%;
}

.why-choose-2 {
    margin-top: 7%;
    padding: 1%;
}

.why-choose-2-content {
    margin-top: 2%;
    padding: 1%;
    font-weight: 700;
}

.why-choose-3 {
    margin-top: 7%;
    padding: 1%;
}

.why-choose-3-content {
    margin-top: 2%;
    padding: 1%;
}

.ultimate-feature {
    margin-left: -2%;
    margin-top: 5%;
    padding-left: 5%;
}

.ultimate-feature h4 {
    font-weight: 500;
}

.ultimate-feature .feature-2 {
    margin-top: 10%;
    padding-bottom: 5%;
}

.ultimate-feature .feature-2-content h5 {
    font-weight: 500;
    padding-bottom: 2%;
}


/*=======
    three combo images
=======*/

.backg {
    position: absolute;
    z-index: 5;
    margin-left: 15%;
}

.leftg {
    position: absolute;
    margin-top: 15%;
    z-index: 10;
}

.rightg {
    position: absolute;
    margin-left: 40%;
    margin-top: 5%;
    z-index: 15;
}


/*=========================
    pricing section starts
=========================*/

#pricing {
    margin-top: 5%;
    padding: 1%;
    margin-bottom: 2%;
}

.price {
    margin-top: 5%;
    padding: 2%;
}

.card-head {
    padding: 7%;
    opacity: 0.85;
}

.price-card {
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: none;
}

.business {
    margin-left: 50%;
}

.card-head h4 {
    font-size: 36pt;
}

.card-head .type {
    font-size: 14px;
    letter-spacing: 0;
}

.c-body {
    padding: 10% 15%;
}

.c-body .list-price {
    padding-bottom: 15%;
    margin-left: -20%;
    font-weight: 500;
}


/*==========
    button
==========*/

#subscribe {
    margin-top: -20%;
    margin-bottom: 10%;
}

#freetrial {
    margin-top: -20%;
}


/*=========================
    review section starts
=========================*/

#review {
    margin-top: 4%;
    margin-bottom: 2%;
}

#review .world-map {
    margin-left: -17%;
}

#review .checked {
    color: orange;
    font-size: 20px;
    margin-bottom: 5%;
}

#review .satisfication {
    margin-left: 13%;
    margin-top: 7%;
}

.satisfication .ceo {
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 3%;
}

.slider {
    margin-top: 2%;
}

.slider .small-border {
    border-left: 3px solid lightgray;
    height: 30pt;
    margin-top: 2%;
}

.slider .back-arrow {
    display: inline-block;
    padding: 16px;
    border: 3px;
    border-radius: 50%;
    text-align: center;
    background-color: whitesmoke;
    transition: all .5s;
}

.slider .back-arrow:hover {
    background-color: lightgray;
}

#FAQ {
    margin: 5% 5%;
}

.bg-faq {
    padding: 10px 7%;
    margin-top: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: rgba(232, 232, 232, 0.3);
}

.bg-faq .right-plus {
    margin-left: 100%;
}

.bg-faq p {
    font-weight: 500;
    letter-spacing: 1px;
}

.faq-head {
    margin-bottom: 3%;
}

.person-img>img {
    margin-left: -30%;
}

#foo {
    background-color: #242f52;
    margin-top: -3.5%;
}

.logo-image {
    padding: 5%;
}

.box-footer li {
    list-style-type: none;
    display: inline;
    margin-right: 5%;
}

.footer-icons i {
    padding: 1%;
    font-size: 20pt;
}

.footer-icons i:hover {
    color: white;
}

.copyright {
    padding: 1%;
}